@tailwind base;
@tailwind components;
@tailwind utilities;

 .inputStyle{
  @apply px-4 w-[400px] py-4  border-2 border-slate-300  focus:outline-none focus:border-slate-400 shadow-md focus:shadow-xl rounded-xl   text-slate-700 font-medium font-sans ;
}

/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
